{% extends 'base.html' %}

{% block title %}
    {% for ad in ad %}
        {{ad.title}}
    {% endfor %}
{%endblock title%}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col col-lg-3">
            <img class="d-block w-100 border border-5" src="../../../media/{{product.photo}}">
        </div>
        <div class="col position-static">
            <div class=" w-auto">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item">Название: {{product.title}}</li>
                    <li class="list-group-item">Цена: {{product.price}}</li>
                    <li class="list-group-item">ID: {{product.pk}}</li>
                    <li class="list-group-item">{{product.description}}</li>
                    <li class="list-group-item">
                        {% if request.user.is_authenticated %}
                        {% include 'add_cart.html'%}
                        <br />
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <form class="form-outline col-6 mb-3" method="POST">
        {% csrf_token %}
        <textarea id="com" class="form-control" name="Text" rows="4" style="background: #fff;"></textarea>
        <div class="float-end mt-2 pt-1">
            {% if request.user.is_authenticated %}
                <button type="submit" class="btn btn-primary btn-sm" name="add">Добавить комментарий</button>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'login' %}">Авторизация</a>
            {% endif %}
        </div>
    </form>
    <div>
            {% for comment in comments %}
                    <div class="border-bottom p-2 mt-2 w-50 rounded" style="background: #fff;">
                        <p>{{comment.text}}</p>
                    </div>
            {% endfor %}
    </div>
</div>  
{% endblock %}

