{% extends 'base.html' %}
{% block title %}Страница администратора{% endblock title %}

{% block content %}
    {% include 'menu_moderator.html'%}
    <div class="container mt-5">
        
        <a href="{% url 'create'%}">Создать</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{product.pk}}</th>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <a href="{% url 'edit' product.id %}">Редактировать</a>
                        <a href="{% url 'delete' product.id %}">Удалить</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 