{% extends 'base.html' %}
{% block title %}О нас{% endblock title %}
{% block content %}
 <h2>Добро пожаловать в наш магазин!</h2>
<p>Мы предлагаем широкий выбор товаров для домашних животных:</p>
<ul>
  <li>Корм для собак и кошек</li>
  <li>Игрушки для животных</li>
  <li>Лежаки и домики для кошек</li>
  <li>Аксессуары для поводков и ошейников</li>
  <li>И многое другое!</li>
</ul>
<h3>Полезные ссылки:</h3>
<ul>
  <li><a href="https://www.petfinder.com/">Petfinder - поиск домашних животных для усыновления</a></li>
  <li><a href="https://www.aspca.org/">ASPCA - Американское общество защиты животных</a></li>
  <li><a href="https://www.petsmart.com/">PetSmart - магазин для домашних животных</a></li>
</ul>

{% endblock %}