{% extends 'base.html' %}
{% block title %}Главная{% endblock title %}
{% block content %}

<img src="../../media/head.jpg" class="img-fluid" alt="...">
<p class="fs-4 text font-monospace">
    Pets4You - это интернет-зоомагазин, предлагающий широкий ассортимент товаров для собак, кошек, птиц, рыб и других мелких животных. У нас есть все, от еды и лакомств до игрушек и аксессуаров, и мы предлагаем бесплатную доставку при заказе на сумму свыше 50 долларов.

Мы стремимся предоставлять нашим клиентам наилучший сервис и всегда ищем новые способы улучшить наши предложения. Если у вас есть какие-либо вопросы или опасения, пожалуйста, не стесняйтесь обращаться к нам. Мы здесь, чтобы помочь вам сделать жизнь вашего питомца счастливой и здоровой.
    </p>


<div class="row">
    <div class="col-9">
        <h1 class="text-secondary">Последние новости</h1>
        <hr />
        <div class="row row-cols-1 row-cols-sm-2  g-3">
            {% for new in news %}
            {% include 'news/card.html' %}
            {% endfor %}
        </div>
        <br />
</div>

{% endblock %}